name: DocC Runner

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Select Xcode 15.1
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '15.1.0'

      - name: Build DocC
        run: |
          swift package resolve

          xcodebuild docbuild -scheme Navigable -derivedDataPath /tmp/docbuild -destination 'generic/platform=iOS'

          DOCC=$(xcrun --find docc)
          $DOCC process-archive \
            transform-for-static-hosting /tmp/docbuild/Build/Products/Debug-iphoneos/Navigable.doccarchive \
            --output-path docs \
            --hosting-base-path 'navigable-swiftui'

          echo "<script>window.location.href += \"/documentation/navigable-swiftui\"</script>" > docs/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs'

      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4